<!DOCTYPE html>
<html>
  <head>
    <title>CalorieFriends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p>ここは食事・カロリーを記録するページです</p>
    <span class="name">
      <% if @user.present? %>
        <a href="<%= user_path(@user) %>">
          <span>マイページ</span><%= @user.name %>
        </a>
      <% else %>
        <a href="<%= root_path %>">
          <span>トップページ</span>
        </a>
      <% end %>
      
    </span>
    <!-- マイページへのリンク -->
    <%= link_to 'User Profile', user_path(@user) %>
    <!-- シンプルカレンダーの日付をクリックして/show.html.erbに遷移 -->
    <%# シンプルカレンダーのループを作成して日付を表示 %>
    <%# day_record_pathを使用して/show.html.erbに遷移 %>
    <%= month_calendar do |date| %>
      <span class="calendar-date" data-date="<%= date.to_s %>">
        <%= link_to date.day, user_path(@user, date: { year: date.year, month: date.month, day: date.day }) %>
      </span>
    <% end %>
    <!-- データの表示 -->
    <%= form_with(model: @record || Record.new, url: records_path, local: true) do |form| %>
      <!-- Date -->
      <div class="field">
        <%= form.label :date, "Date" %>
        <%= form.date_select :date %>
      </div>
     
  
      <!-- Meal -->
      <div class="field">
        <%= form.label :breakfast %>
        <%= form.text_field :breakfast %>
      </div>

      <div class="field">
        <%= form.label :lunch %>
        <%= form.text_field :lunch %>
      </div>

      <div class="field">
        <%= form.label :dinner %>
        <%= form.text_field :dinner %>
      </div>

      <div class="field">
        <%= form.label :snack %>
        <%= form.text_field :snack %>
      </div>

      <!-- Calories -->
      <div class="field">
        <%= form.label :breakfast_cal %>
        <%= form.number_field :breakfast_cal %>
      </div>

      <div class="field">
        <%= form.label :lunch_cal %>
        <%= form.number_field :lunch_cal %>
      </div>

      <div class="field">
        <%= form.label :dinner_cal %>
        <%= form.number_field :dinner_cal %>
      </div>

      <div class="field">
        <%= form.label :snack_cal %>
        <%= form.number_field :snack_cal %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </body>
</html>