<% if @records.present? %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Breakfast</th>
        <th>Lunch</th>
        <th>Dinner</th>
        <th>Snack</th>
        <!-- 他のヘッダー項目もここに追加 -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr>
          <td><%= record.user.name %></td>
          <td><%= record.breakfast %></td>
          <td><%= record.lunch %></td>
          <td><%= record.dinner %></td>
          <td><%= record.snack %></td>

          <%= image_tag record.breakfast_img %>
          <%= image_tag record.lunch_img %>
          <%= image_tag record.dinner_img %>
          <%= image_tag record.snack_img %>
          <!-- 他のカラムも追加 -->

          <td>
            <% if record.breakfast_img.attached? %>
              
              <%= image_tag record.breakfast_img.variant(resize_to_limit: [100, 100]) %>
            <% else %>
              <p>No image attached.</p>
            <% end %>
          </td>
          <td>
            <% if record.lunch_img.attached? %>
              <%= image_tag record.lunch_img.variant(resize_to_limit: [100, 100]) %>
            <% else %>
              <p>No image attached.</p>
            <% end %>
          </td>
          <td>
            <% if record.dinner_img.attached? %>
              <%= image_tag record.dinner_img.variant(resize_to_limit: [100, 100]) %>
            <% else %>
              <p>No image attached.</p>
            <% end %>
          </td>
          <td>
            <% if record.snack_img.attached? %>
              <%= image_tag record.snack_img.variant(resize_to_limit: [100, 100]) %>
            <% else %>
              <p>No image attached.</p>
            <% end %>
          </td>

          <%= link_to 'Back', records_path %>
          <td><%= record.user.name %></td>
          <td><%= record.breakfast %></td>
          <td><%= record.lunch %></td>
          <td><%= record.dinner %></td>
          <td><%= record.snack %></td>
          <td><%= record.breakfast_cal %></td>
          <td><%= record.lunch_cal %></td>
          <td><%= record.dinner_cal %></td>
          <td><%= record.snack_cal %></td>

          <!-- 他のデータ項目もここに追加 -->
          <td>
            <%= link_to 'Show', record_path(record) %>
            <%= link_to 'Edit', edit_record_path(record) %>
            <%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table
<% else %>
  <p>No records found for this date.</p>
<% end %>

<%= link_to 'New Record', new_record_path %>