<% if @record.present? %>
  <%# シンプルカレンダーの日付をクリックしたらその日付を表示 %>
  <% if @date.present? %>
    <p>選択された日付</p>
    <h2><%= @date.to_s %></h2>
  <% end %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Breakfast</th>
        <th>Lunch</th>
        <th>Dinner</th>
        <th>Snack</th>
        <th>Breakfast Cal</th>
        <th>Lunch Cal</th>
        <th>Dinner Cal</th>
        <th>Snack Cal</th>
        <th>Total Calories</th> <!-- 合計カロリーの表示 -->
        <!-- 他のヘッダー項目もここに追加 -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <p>Breakfast Image:</p>
            <%= image_tag @record.breakfast_image.url if @record.breakfast_image.present? %>

            <p>Lunch Image:</p>
            <%= image_tag @record.lunch_image.url if @record.lunch_image.present? %>

            <p>Dinner Image:</p>
            <%= image_tag @record.dinner_image.url if @record.dinner_image.present? %>

            <p>Snack Image:</p>
            <%= image_tag @record.snack_image.url if @record.snack_image.present? %>
        <td><%= @record.user.name %></td>
        <td><%= @record.breakfast %></td>
        <td><%= @record.lunch %></td>
        <td><%= @record.dinner %></td>
        <td><%= @record.snack %></td>
        <td><%= @record.breakfast_cal || 0 %></td>
        <td><%= @record.lunch_cal || 0 %></td>
        <td><%= @record.dinner_cal || 0 %></td>
        <td><%= @record.snack_cal || 0 %></td>
        <td><%= (@record.breakfast_cal || 0) + (@record.lunch_cal || 0) + (@record.dinner_cal || 0) + (@record.snack_cal || 0) %></td>
        <!-- 他のカラムも追加 -->
        
        <!-- 他のデータ項目もここに追加 -->
        <td>
          <%= link_to 'Show', user_path(@record.user) %>
          <%= link_to 'Edit', edit_record_path(@record) %>
          <%= button_to 'Destroy', record_path(@record), method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy-button' %>
          
        </td>
      </tr>
    </tbody>
  </table>
<% else %>
  <p>No record found for this date.</p>
  <%= link_to "マイページ", user_path(current_user), class: "post" %>
<% end %>