<h1>Meals</h1>

<!-- 表示済みの食事一覧 -->
<% @meals.each do |meal| %>
  <p><%= meal.breakfast %>, <%= meal.lunch %>, <%= meal.dinner %>, <%= meal.snack %></p>
<% end %>

<!-- 新しい食事を作成するフォーム -->
<%= form_with(model: @meal, url: meals_path, local: true, class: 'meal-form') do |form| %>
  <div>
    <%= form.label :breakfast %>
    <%= form.text_field :breakfast %>
  </div>

  <div>
    <%= form.label :lunch %>
    <%= form.text_field :lunch %>
  </div>

  <div>
    <%= form.label :dinner %>
    <%= form.text_field :dinner %>
  </div>

  <div>
    <%= form.label :snack %>
    <%= form.text_field :snack %>
  </div>

  <div>
    <%= form.submit 'Create Meal' %>
  </div>
<% end %>